* {
	margin: 0;
	padding: 0;
}
body{
    margin: 0;
    padding: 0;
    height: 100%
}
#page{
    overflow: hidden;
}
.main_container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /*margin: 0 auto -4em;*/
}
/*.container{
    width: 80% !important;
}*/

/*................iPad-Retina................*/
@media (max-width: 1536px) and (min-width: 769px){
    .main_bg_barock{
        background: url(../img/bg_main_image@2x.png) no-repeat center bottom;
        height: 2048px;
        width: 1536px;
    }
    section#objects{
        height: 1196px;
        width: 1180px;
        padding-top: 184px;
    }
    section#objects #object_stage{
        background: url(../img/stage_s@2x.png) no-repeat;
        width: 300px;
        height: 350px;
        left: 664px;
    }
    #cup{
        background: url(../img/tasse@2x.png) no-repeat;
        width: 815px;
        height: 536px;
        bottom: -536px;
    }
    #cup-snap{
        width: 376px;
        height: 50px;
        right: 230px;
        bottom: 460px;
    }
    section#objects .bean{
        background: url(../img/bean@2x.png) no-repeat;
        width: 150px;
        height: 100px;
    }
    section#objects #bean_1{
        left: 230px;
        top: 310px;
    }
    section#objects #bean_2{
        left: 874px;
        top: 914px;
        transform: rotate(330deg) ;
        -webkit-transform: rotate(330deg) ;
        -moz-transform: rotate(330deg) ;
        -o-transform: rotate(330deg) ;
        -ms-transform: rotate(330deg) ;
    }
    section#objects #bean_3{
        left: 780px;
        top: 520px;
        transform: rotate(280deg) ;
        -webkit-transform: rotate(280deg) ;
        -moz-transform: rotate(280deg) ;
        -o-transform: rotate(280deg) ;
        -ms-transform: rotate(280deg) ;
    }
    #speech_bubble{
        background: url(../img/speech_bubble@2x.png) no-repeat;
        font-size: 2em;
        line-height: 40px;
        padding: 190px 120px 0 120px;
        width: 608px;
        height: 420px;
        left: 10px;
        top: 910px;
    }
}
/*..............iPad................*/
@media (max-width: 768px){
    .main_bg_barock{
        background: url(../img/bg_main_image.png) no-repeat center bottom;
        height: 1024px;
        width: 768px;
    }
    section#objects{
        height: 598px;
        width: 590px;
        padding-top: 92px;
    }
    section#objects #object_stage{
        background: url(../img/stage_s.png) no-repeat;
        width: 150px;
        height: 175px;
        left: 332px;
    }
    #cup{
        background: url(../img/tasse.png) no-repeat;
        width: 408px;
        height: 268px;
        bottom: -268px;
    }
    #cup-snap{
        width: 188px;
        height: 25px;
        right: 115px;
        bottom: 230px;
    }
    section#objects .bean{
        background: url(../img/bean.png) no-repeat;
        width: 75px;
        height: 50px;
    }
    section#objects #bean_1{
        left: 115px;
        top: 155px;
    }
    section#objects #bean_2{
        left: 437px;
        top: 457px;
        transform: rotate(330deg) ;
        -webkit-transform: rotate(330deg) ;
        -moz-transform: rotate(330deg) ;
        -o-transform: rotate(330deg) ;
        -ms-transform: rotate(330deg) ;
    }
    section#objects #bean_3{
        left: 390px;
        top: 260px;
        transform: rotate(280deg) ;
        -webkit-transform: rotate(280deg) ;
        -moz-transform: rotate(280deg) ;
        -o-transform: rotate(280deg) ;
        -ms-transform: rotate(280deg) ;
    }
    #speech_bubble{
        background: url(../img/speech_bubble.png) no-repeat;
        font-size: 2em;
        line-height: 40px;
        padding: 95px 60px 0 60px;
        width: 304px;
        height: 210px;
        left: 5px;
        top: 455px;
    }
}
.main_bg_barock{
    position: relative;
    background-size: contain;
    background-color: gray;
}
/*#content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10%;
    right: 10%;
}*/
/*.animated_object{
	border: 1px solid #000;
	text-align: center;
	font-size: 32px;
	width: 100px;
	height: 100px;
}*/
section#objects{
    position: relative;
    z-index: 1;
}
section#objects #object_stage{
	position: absolute;
    cursor: pointer;
    background-size: contain;
    transform: rotate(18deg) ;
    -webkit-transform: rotate(18deg) ;
    -moz-transform: rotate(18deg) ;
    -o-transform: rotate(18deg) ;
    -ms-transform: rotate(18deg) ;
    z-index: 10;
}
#object2{
	background-color: green;
}
#object3{
	background-color: yellow;
}
#object4{
	background-color: gray;
}
#object5{
	background-color: blue;
}
a.get_pop{
	border: 2px solid #aaa;
	text-align: center;
	font-size: 32px;
	width: 100px;
	height: 100px;
	color: #fff;
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	text-shadow: 1px 1px #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}
a.get_pop:hover{
	-moz-box-shadow: 0px 0px 14px 2px #8f8f8f;
	-webkit-box-shadow: 0px 0px 14px 2px #8f8f8f;
	box-shadow: 0px 0px 14px 2px #8f8f8f;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    background-color: #fff;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 10;

    width: 90%;
    height: 90%;
    /*
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    */
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.overlay:target+.popup {
    /*top: 50%;*/
    top: 4%;
    opacity: 1;
    visibility: visible;
}
.close_icon {
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 24px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
    background-color: rgba(64, 128, 128, 0.8);
}

.scrollable_text{
	width: 100%;
	height: 100%;
	overflow: auto;
}

#cup{
    position: absolute;
    right: 0;
}
#cup-snap{
    position: absolute;
    background-color: red;
}
section#objects .bean{
    position: absolute;
    z-index: 10;
}
#speech_bubble{
    position: absolute;
    display: none;
}

#bug{
    width:50px;
    height:50px;
    position:absolute;
    background-image: url(../img/bug1.png);
    display:none;
    z-index: 5;
}

