* {
	margin: 0;
	padding: 0;
    background-size: contain;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    line-height: 1.4em;
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: normal;
}
/*
@font-face {
    font-family: OpenBaskerville;
    src:local('OpenBaskerville'), local('OpenBaskerville'), url(public/font/OpenBaskerville-0.0.53.otf) format('otf');
}*/
#page{
    overflow: hidden;
}
.main_container {
    background: url(../img/bg_main_woman@2x.jpg) no-repeat;
}

.main_bg_barock{
    position: relative;
    height: 1004px;
}

#objects_inactive{
    background: url(../img/objects_inactive_2@2x.png) no-repeat;
    width: 502px;
    height: 738px;
    left: 34px;
    top: 266px;
    position: absolute;
    z-index: 16;
}

section#objects{
    height: 900px;
    width: 590px;
    position: relative;
    margin: 0 auto;
    z-index: 1;
}
section#objects #object_stage{
    background: url(../img/stage_small@2x.png) no-repeat;
	position: absolute;
    width: 129px;
    height: 136px;
    left: 470px;
    top: 260px;
    transform: rotate(22deg) ;
    -webkit-transform: rotate(22deg) ;
    -moz-transform: rotate(22deg) ;
    -o-transform: rotate(22deg) ;
    -ms-transform: rotate(22deg) ;
    z-index: 10;
}
#cup{
    background: url(../img/tasse@2x.png) no-repeat;
    width: 343px;
    height: 280px;
    bottom: -280px;
    position: absolute;
    right: 0;
    z-index: 15;
}
#cup-snap{
    width: 190px;
    height: 50px;
    right: 86px;        
    bottom: 226px;
    position: absolute;
    z-index: 20;
}
section#objects .bean{
    width: 48px;
    height: 43px;
    position: absolute;
    z-index: 10;
}
section#objects #bean_1{
    background: url(../img/bean1@2x.png) no-repeat;
    left: 250px;
    top: 220px;
}
section#objects #bean_2{
    background: url(../img/bean2@2x.png) no-repeat;
    left: 464px;
    top: 150px;
}
section#objects #bean_3{
    background: url(../img/bean3@2x.png) no-repeat;
    left: 472px;
    top: 484px;
}

#chair{
    background: url(../img/chair@2x.png) no-repeat;
    width: 72px;
    height: 126px;
    top: 452px;
    left: 428px;
    position: absolute;
    z-index: 17;
}
#louis{
    background: url(../img/louis@2x.png) no-repeat;
    width: 164px;
    height: 149px;
    top: 254px;
    left: 74px;
    position: absolute;
    z-index: 17;
}
#versailles{
    left: 180px;
    top: 222px;
    position: absolute;
    z-index: 15;
}
#versailles #versailles_1, #versailles #versailles_2, #versailles #versailles_3{
    position: absolute;
}
#versailles #versailles_1{
    background: url(../img/versailles_1@2x.png) no-repeat;
    width: 72px;
    height: 149px;
}
#versailles #versailles_2{
    background: url(../img/versailles_2@2x.png) no-repeat;
    width: 100px;
    height: 129px;
    left: 71px;
    top: 20px;
}
#versailles #versailles_3{
    background: url(../img/versailles_3@2x.png) no-repeat;
    width: 135px;
    height: 149px;
    left: 171px;
}
#speech_bubble_find{
    background: url(../img/speech_bubble__find_beans@2x.png) no-repeat;
    width: 226px;
    height: 321px;
    left: 38px;
    bottom: 200px;
    position: absolute;
    display: none;
}
#speech_bubble_mhhh{
    background: url(../img/speech_bubble__mhh@2x.png) no-repeat;
    width: 162px;
    height: 112px;
    left: 21px;
    bottom: 105px;
    position: absolute;
    display: none;
}
#speech_bubble_find p, #speech_bubble_mhhh p{
    font-size: 1.4em;
    line-height: 1.5em;
}
#speech_bubble_find p{
    padding: 80px 30px 0px 26px;
}
#speech_bubble_mhhh p{
    padding: 44px 0px 0px 36px;
}

#coffee_sonata{
    background: url(../img/kaffehauskontate_bg@2x.png) no-repeat left;
    width: 758px;
    height: 218px;
    bottom: 51px;
    right: -758px;
    position: absolute;
    z-index: 12;
}
#coffee_sonata p{
    padding: 18px 320px 0px 60px;
}
#coffeplay{
    background: url(../img/button_playMusic@2x.png) no-repeat;
    left: 60px;
    bottom: 16px;
}

#bug{
    background-image: url(../img/bug@2x.png);
    width:54px;
    height:54px;
    position:absolute;
    background-size: contain;
    display:none;
    z-index: 20;
}
.button{
    width: 38px;
    height: 36px;
    position: absolute;
}

/*-----------------Pop-Up-----------------*/
/*
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
*/
/*
.popup {
    background-color: #fff;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 10;

    width: 90%;
    height: 90%;

    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
overlay:target+popup {
    top: 4%;
    opacity: 1;
    visibility: visible;
}
*/
/*
.close_icon {
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 24px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
    background-color: rgba(64, 128, 128, 0.8);
}
*/
/*-----------------Pop-Up-ENDE-----------------*/

/*-----------------Modal-Window-----------------*/
.modalWindow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalWindow:target {
    opacity:1;
    pointer-events: auto;
}
.modalWindow > div {
    position: relative;
}

.close {
    background: url(../img/button_close@2x.png) no-repeat;
    position: absolute;
    right: 10px;
    top: 10px;
    /*
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    text-align: center;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    */
}

/*.close:hover { background: #00d9ff; }*/
/*-----------------Modal-Window ENDE-----------------*/

/*---------------Stage-Content----------------*/
#stage_content{
    position: fixed;
    z-index: 30;
}
#stage_content.modalWindow > div{
    margin-top: 104px;
    margin-left: 25px;
}
#stage_top{
    background-image: url(../img/stage_top@2x.png);
    width: 716px;
    height: 227px;
    position: absolute;
    z-index: 38;
}
#stage_middle{
    background: url(../img/stage_bg@2x.png) no-repeat;
    width: 406px;
    height: 503px;
    top: 226px;
    left: 50%;
    margin-left: -212px;
    position: absolute;
    z-index: -20;
}
.stage_button{
    width:37px;
    height: 37px;
    top: 357px;
    margin-right: 25px;
    position: absolute;
    z-index: -19;
}
#stage_button_1{
    background: url(../img/stage_button_1@2x.png) no-repeat;
    left: 132px;
}
#stage_button_2{
    background: url(../img/stage_button_2@2x.png) no-repeat;
    left: 194px;
}
#stage_button_3{
    background: url(../img/stage_button_3@2x.png) no-repeat;
    left: 256px;
}
#angel{
    width: 140px;
    height: 300px;
    left: 100px;
    top: -160px;
    position: absolute;
    z-index: -15;
    display: none;
}
#angel_body{
    width: 80px;
    height: 160px;
    float: left;
    background-color: yellow;
}
#angel_wing{
    width: 50px;
    height: 80px;
    float: right;
    background-image: -webkit-linear-gradient(top, #68ff4a, #ffadc6);
    background-image: linear-gradient(top, #68ff4a, #ffadc6);
    position: absolute;
}
#stage_popup{
    position: relative;
    background-color: #fff;
    height: 100%;
    display: none;
}
#stage_curtain_left, #stage_curtain_right{
    height: 530px;
    top: 224px;
    position: absolute;
}
#stage_curtain_left{
    background-image: url(../img/stage_curtain_left@2x.png);
    width: 326px;
    left: 44px;
    z-index: -3;
}
#stage_curtain_right{
    background-image: url(../img/stage_curtain_right@2x.png);
    width: 309px;
    left: 357px;
    z-index: -2;
}
#rope{
    width: 40px;
    height: 594px;
    top: 20px;
    right: 22px;
    position: absolute;
    z-index: -1;
    background-color: green;
}
#rope_inner{
    background-image: url(../img/rope@2x.png);
    width: 36px;
    height: 458px;
}
#stage_content.popup {
    display: inline-block;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    /*
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    */
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
#stage_content_a.overlay:target+#stage_content.popup {
    top: 104px;
    opacity: 1;
    visibility: visible;
}
/*---------------Stage-Content-ENDE----------------*/


#object2{
	background-color: green;
}
#object3{
	background-color: yellow;
}
#object4{
	background-color: gray;
}
#object5{
	background-color: blue;
}
a.get_pop{
	border: 2px solid #aaa;
	text-align: center;
	font-size: 32px;
	width: 100px;
	height: 100px;
	color: #fff;
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	text-shadow: 1px 1px #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}
a.get_pop:hover{
	-moz-box-shadow: 0px 0px 14px 2px #8f8f8f;
	-webkit-box-shadow: 0px 0px 14px 2px #8f8f8f;
	box-shadow: 0px 0px 14px 2px #8f8f8f;
}


.scrollable_text{
	width: 100%;
	height: 100%;
	overflow: auto;
}

